.App {
  display: flex;
  justify-content: space-between;
}

.history-dashboard {
  max-width: 500;
}

.pokemon__card {
  border: 10px solid #f4dc42;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  width: 350px;
}

.pokemon__type--Fire {
  background-color: #ff4c4c;
}
.pokemon__type--Water {
  background-color: #0017ff;
}
.pokemon__type--Grass {
  background-color: #21bc2f;
}
.pokemon__type--Colorless {
  background-color: #ffffff;
}
.pokemon__type--Fighting {
  background-color: #a93226;
}
.pokemon__type--Darkness {
  background-color: #17202a;
}
.pokemon__type--Psychic {
  background-color: #7d3c98;
}
.pokemon__type--Lightning {
  background-color: #f4d03f;
}
.pokemon__type--Metal {
  background-color: #99a3a4;
}
.pokemon__type--Fairy {
  background-color: #fadbd8;
}

.pokemon__name--has-evolve {
  margin-left: 75px;
}

.pokemon__actions {
  padding: 0 15px;
}

.pokemon__attack {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pokemon__attack-cost {
  margin-right: 15px;
}

.pokemon__ability-description, .pokemon__attack-description {
  font-weight: 100;
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
}

.pokemon__ability-type {
  margin-right: 13px;
}

.pokemon__energy-cost-type {
  height: 15px;
  margin: 0 1px;
  width: 15px;
}
.pokemon__type {
  height: 20px;
  width: 20px;
}

.pokemon__evolves-from {
  background-color: #999;
  border: 5px solid #fdfdfd;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 999;
}

.pokemon__picture {
  border: 2px solid #fdfdfd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  max-height: 300px;
  width: 100%;
}

.right {
  float: right;
  display: inline-flex;
}

.pokemon__card-footer {
  display: flex;
  font-weight: 600;
  margin-top: auto;
  justify-content: space-around;
}

.pokemon__retreat, .pokemon__resistances, .pokemon__weaknesses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
